<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ApplicationClass"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAppandMaybeTheLast"
        tools:remove="android:appComponentFactory"
        tools:targetApi="31">
        <service
            android:name=".service.MediaPlayerService"
            android:foregroundServiceType="mediaPlayback" />
        <receiver android:name=".service.NotificationBroadcastRcv"
                android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="NEXT"/>
                <action android:name="PREVIOUS"/>
                <action android:name="PLAY"/>
            </intent-filter>


        </receiver>
        <activity android:name=".uiactivity.FirstScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uiactivity.PlaylistActivityLazy"/>
        <activity
            android:name=".service.MusicPlayerActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstAppandMaybeTheLast"
            />
        <activity android:name=".uiactivity.WelcomePage">
        </activity>
        <activity android:name=".uiactivity.LoginPage"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>